<html>
    <head>
        <link rel="stylesheet" href="/css/index.css">
    </head>
    <title>
        {{ .title }}
    </title>
    <body>
        <div class="gallery">
            {{range .images}}
                <img class="image" src="{{.}}">
            {{end}}
        </div>
    </body>
</html>