<html>
    <head>
        <link rel="stylesheet" href="/css/index.css">
    </head>
    <title>
        {{ .title }}
    </title>
    <body>
        <form action="/search" method="post">
            <input type="text" id="search" name="search">
            <input type="submit">
        </form>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" id="file" name="filename">
            <input type="submit">
        </form>
        <div class="gallery">
            {{range .images}}
                <a href="/image?id={{.ID}}">
                    <img class="image" src="{{.ThumbnailPath}}">
                </a>
            {{end}}
        </div>
    </body>
</html>